/* .logo-header {
    margin-top: 20px;
    margin-bottom: 40px; 
}

.login-logo{
    width: 150px;
    height: auto;
}

h2 {
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .login-logo{
        width: 100px;
        height: 100px;
    }

    .logo-header {
        margin-top: 10px;
        margin-bottom: 20px; 
        width: 100%;
    }
} */